<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 16px;">
    <div>
        <canvasjs-chart [options]="chartOptions" style="height: 300px; width: 50%;"></canvasjs-chart>
    </div>
    <div>
        <canvasjs-chart [options]="skillsetChartOptions" style="height: 300px; width: 50%;"></canvasjs-chart>
    </div>
    <div>
        <canvasjs-chart [options]="competencyChartOptions" style="height: 350px; width: 50%;"></canvasjs-chart>
    </div>
    <div>
        <canvasjs-chart [options]="demandTrendChartOptions" style="height: 300px; width: 50%;"></canvasjs-chart>
    </div>
</div>
