<div class="container" *ngIf="selectedDemand">
    <!-- Home Button -->
    <div class="d-flex align-center mb-4" style="gap: 12px;">
        <button mat-icon-button color="primary" aria-label="Home" matTooltip="Go to Demand List" style="margin-top: -1%;"
            [routerLink]="['/demand']">
            <mat-icon>home</mat-icon>
        </button>
        <h2>Edit Demand</h2>
    </div>


    <ng-container *ngIf="selectedDemand; else loading">
        <app-demand-form [mode]="'edit'" [demand]="selectedDemand" (formSubmit)="onSubmit($event)">
        </app-demand-form>
    </ng-container>


    <!-- <button mat-raised-button color="accent" (click)="openAssignDemandModal()">Assign Demand</button> -->


    <ng-template #loading>
        <p>Loading demand data...</p>
    </ng-template>
</div>