table {
    width: 100%;
  }
  
.demand-list-container {
    padding: 20px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
    flex-wrap: wrap;
}

mat-form-field {
    width: 300px;
}