/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-image: url('assets/dtcc-background.jpg'); /* Use your actual file name */
    background-size: cover;        /* Cover the whole area */
    background-repeat: no-repeat;  /* Prevent tiling */
    background-attachment: fixed;  /* Optional: fixed background */
    background-position: center;   /* Center the image */
  }


/* styles.css */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 16px;
    /* optional spacing */
}

/* Optional styling for footer */
app-footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px 0;
}