.brand {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 16px;
}

.spacer {
  flex: 1 1 auto;
}

a.active-link {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

.navbar,
.navbar .mat-toolbar,
.mat-toolbar {
  background-color: #333333 !important;
  color: #fff !important;
  min-height: 50px !important;
  /* ↓ reduced from default 64px */
  height: 40px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  align-items: center !important;
  font-size: 1rem;
}

.ey-logo {
  height: 55px;
  /* Adjust height as needed */
  margin-right: 6px;
  /* Space between logo and next item */
  vertical-align: middle;
}