<mat-toolbar color="primary" class="navbar">
  <img src="assets/ey-logo.png" alt="EY Logo" class="ey-logo" />
  <span class="brand">GDS TalentBridge</span>
  <div>
    <a mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
    <a mat-button routerLink="/demand" routerLinkActive="active-link">Demand Management</a>  
    <a mat-button routerLink="/skill-search" routerLinkActive="active-link">Skill Search</a>  
  </div>

  <span class="spacer"></span>
  <span class="navbar-username">Hello, {{ username }}</span>

  <button mat-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>